@page
@model AboutModel
@{
    ViewData["Title"] = "Om sidan";
}

<!-- DT191G moment 1 del 2, Alice Fagerberg
        Om sidan
    -->
<h1>@ViewData["Title"]</h1>
<h2>Vem är det som har gjort det här?</h2>
<p class="intro">Hej! Alice heter jag, är en 96a som bor i centrala Sundsvall. Sedan hösten 2021 pluggar jag webbutveckling där jag just nu pluggar programmering i .NET.
</p> 
<p class="intro">
    Utövar att knappa webb, tycker jag mycket om träning och alla sorters go´saker man kan äta - Speciellt kaka och choklad 😀
</p>
<p class="intro">Ha de´ fint// Alice</p>
