@page
@model IndexModel
@{
    ViewData["Title"] = "Hem Razorstuffin";
}
<!-- DT191G moment 1 del 2, Alice Fagerberg
        Startsida
    -->
<div class="text-center">
    <h1 class="display-4">Välkommen!</h1>
    <p class="intro">Hej och välkommen till Razorstuffin. Här får du se min testsida för del 2 i moment 1 för kursen programmering i .NET<br> 
        Ta och navigera runt lite vettjah</p>
</div>
